.navLink {
  font-size: 16px;
  margin: 0 15px;
  color: #f0f0f0;
}

.navLink:hover {
  color: white;
}

.navLink::first-letter {
  text-transform: capitalize;
}

.navLinkActive {
  color: white !important;
}

.leftMenu, .rightMenu {
  display: flex;
}

.leftMenu {
  float: left;
}

.rightMenu {
  float: right;
}

@media(max-width: 787px) {
  .leftMenu, .rightMenu {
    display: none !important;
  }
}

