.navLink {
  margin: 0 15px;
  color: lightgrey;
}

.navLink::first-letter {
  text-transform: capitalize;
}

.navLinkActive {
  color: white !important;
}

.leftMenu, .rightMenu {
  display: flex;
}

.leftMenu {
  float: left;
}

.rightMenu {
  float: right;
}

@media(max-width: 576px) {
  .leftMenu, .rightMenu {
    display: none;
  }
}

