.navLink {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255,255, 0.7);
  margin: 0 15px;
  user-select: none;
}

.navLink:hover {
  color: white;
}

.navLink::first-letter {
  text-transform: capitalize;
}

.navLinkActive {
  color: white !important;
}

.leftMenu, .rightMenu {
  display: flex;
}

.leftMenu {
  float: left;
}

.rightMenu {
  float: right;
}

@media(max-width: 787px) {
  .leftMenu, .rightMenu {
    display: none !important;
  }
}

