.mobileMenu {
  display: none !important;
}

.mobileMenu:hover, .mobileMenu:focus {
  color: white !important;
  border-color: white !important;
}

@media(max-width: 787px) {
  .mobileMenu {
    display: block !important;
    float: right;
    top: 50%;
    transform: translateY(-50%);
  }
}
