.card {
  display: flex;
  justify-content: center;
  border: none !important;
  font-family: 'Open Sans', sans-serif;
}

.card>div:first-child {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #ffafae;
}

@media(max-width: 576px) {
  .card {
    display: block;
  }
}
