.menu {
  min-width: 150px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
}

.navLink {
  margin: 0 15px;
}

.navLink::first-letter {
  text-transform: capitalize;
}

.navLinkActive {
  color: black !important;
}
