.playlistCard {
  border: none !important;
}

.playlistCard>div:first-child {
  border: none;
}

.playlistCard>div:first-child div {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  padding-bottom: 20px;
}

.playlist {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.65);
  height: 150px;
  width: 21% !important;
  margin-left: 3%;
  margin-bottom: 15px;
  background: transparent;
  border-radius: 0px !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.1) !important;
  border: none !important;;
  cursor: pointer;
  transition: all .3s;
}

.playlist:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1) !important;
}

@media(max-width: 960px) {
  .playlist {
    width: 30% !important;
    margin-left: 2.5%;
  }
}

@media(max-width: 768px) {
  .playlist {
    width: 40% !important;
    margin-left: 7%;
  }
}

@media(max-width: 576px) {
  .playlist {
    width: 100% !important;
    margin-left: 0;
  }
}

.playlistInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlistInfo>div:first-child {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.playlistInfo>div:last-child {
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.addPlaylistButton {
  font-size: 20px;
}

.playlistIcon {
  position: absolute;
  top: 10px;
  left: 10px;
}
