.uploadButton {
  position: absolute;
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: ease .3s;
}

.uploadButton:hover {
  opacity: 1;
}

.uploadButton button:hover, .uploadButton button:focus {
  color: #ff7875;
  border-color: #ff7875;
}

.backgroundMask {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateY(calc(-50% + 16px));
  border-radius: 5px;
  background: #000;
  opacity: .5;
}

