.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.songName {
  font-size: 20px;
}

.songBand>a {
  color: rgba(0, 0, 0, 0.45) !important;
}

.songBand:hover {
  text-decoration: underline;
}

.tag {
  color: #ff7875;
}

.tag:hover {
  color: #ffafae;
  text-decoration: underline;
}
