.songCard {
  transition: ease .3s;
}

.songCard:hover {
  background: whitesmoke;
}

.songCard:not(:last-child) {
  border-bottom: none !important;
}

.songCard>div {
  padding: 16px;
}

.activeSongCard {
  background: rgba(0, 0, 0, 0.07) !important;
  border: rgba(0, 0, 0, 0.07) solid 1px !important;
}

.songContainer {
  display: flex;
}

.songContainer>div:last-child {
  width: 100%;
}

.songContainer>div:last-child>div {
  margin: 0;
}

.topSection {
  display: flex;
  justify-content: space-between;
}

.songName {
  font-weight: 400;
}

.songDuration {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}


